body {
  margin: 0px;
}

canvas {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR29B4AqhCrXcs14GCaHhqtX_cwZjOIkgJdjPb0XIRHvf2hOWUuIr1XDqw&s=10");
  background-color: lightblue;
  margin: 20px;
}

img {
  display: none;
}
